# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import norm, ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
# Your code here:
sal = pd.read_csv('../dev/DAFT_0116_forked/module_2/Lab_7_Hypothesis-Testing/Employees_advanced.csv')

Examine the `salaries` dataset using the `head` function below.

In [21]:
# Your code here:
sal.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
sal.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
sal['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
# Your code here:
sal[['Department','Full or Part-Time']].value_counts()

Department             Full or Part-Time
POLICE                 F                    13404
FIRE                   F                     4641
STREETS & SAN          F                     2024
WATER MGMNT            F                     1879
AVIATION               F                     1611
OEMC                   P                     1229
TRANSPORTN             F                     1140
GENERAL SERVICES       F                      980
OEMC                   F                      873
PUBLIC LIBRARY         F                      727
FINANCE                F                      558
HEALTH                 F                      488
LAW                    F                      406
CITY COUNCIL           F                      360
FAMILY & SUPPORT       F                      329
PUBLIC LIBRARY         P                      288
FAMILY & SUPPORT       P                      286
BUILDINGS              F                      269
COMMUNITY DEVELOPMENT  F                      204
STREETS & SAN          P                      174
BUSINESS AFFAIRS       F                      164
COPA                   F                      116
BOARD OF ELECTION      F                      107
DoIT                   F                       99
PROCUREMENT            F                       92
INSPECTOR GEN          F                       87
MAYOR'S OFFICE         F                       84
CITY CLERK             F                       84
HUMAN RESOURCES        F                       75
CULTURAL AFFAIRS       F                       65
ANIMAL CONTRL          F                       62
CITY COUNCIL           P                       51
BUDGET & MGMT          F                       46
ADMIN HEARNG           F                       39
DISABILITIES           F                       28
TREASURER              F                       22
ANIMAL CONTRL          P                       19
AVIATION               P                       18
HUMAN RELATIONS        F                       16
POLICE                 P                       10
BOARD OF ETHICS        F                        8
BUSINESS AFFAIRS       P                        7
HUMAN RESOURCES        P                        4
COMMUNITY DEVELOPMENT  P                        3
POLICE BOARD           F                        2
FINANCE                P                        2
LICENSE APPL COMM      F                        1
LAW                    P                        1
MAYOR'S OFFICE         P                        1
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [19]:
# Your code here:
sal_hourly = sal[sal['Salary or Hourly'] == 'Hourly']
sal_hr_mean = sal_hourly['Hourly Rate'].mean()
sal_hr_std = sal_hourly['Hourly Rate'].std()
print(sal_hr_mean, sal_hr_std)

32.78855771628024 12.112572684276799

In [20]:
# H0 = mean sal = $30
# H1 = mean sal <> $30 ==> 2 tails
alpha = 0.05
n = 8022
df = n - 1

tcritical = stats.t.ppf(1 - alpha / 2, df)
t_score = (sal_hr_mean - 30)/(sal_hr_std/np.sqrt(n))

print(tcritical, t_score)
# reject H0

1.9602597859561675 20.6198057854942

In [ ]:
# # Generate a sample of random data with a mean of 10 and a standard deviation of 2
# np.random.seed(0)
# sample = np.random.normal(sal_hr_mean, sal_hr_std, n)

# # Perform a two-tailed T-test to compare the mean of the sample to a population mean of 12. By default, this is 2 tailed. If 1 tail then pass the argument alternative='less'or 'greater'
# t_statistic, p_value = ttest_1samp(sample, 12)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [69]:
sal_pol = sal[(sal['Department'] == 'POLICE') & (sal['Salary or Hourly'] == 'Salary')]
sal_pol_mean = sal_pol['Annual Salary'].mean()
sal_pol_std = sal_pol['Annual Salary'].std()
print(sal_pol_mean, sal_pol_std)

86486.41450313339 18272.22829399308

In [24]:
# Your code here:
n = 13404
df = n - 1
tcritical = stats.t.ppf(1 - alpha, df)
t_score = (sal_pol_mean - 30)/(sal_pol_std/np.sqrt(n))

print(tcritical, t_score)
# reject H0

1.6449673235204956 547.8011221023714

Using the `crosstab` function, find the department that has the most hourly workers.

In [29]:
# Your code here:
pd.crosstab(sal['Department'], sal['Salary or Hourly']).sort_values(by = 'Hourly', ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [35]:
# Your code here:
sal_ss = sal[(sal['Department'] == 'STREETS & SAN')&(sal['Salary or Hourly'] == 'Hourly')]
sal_ss_mean = sal_ss['Hourly Rate'].mean()
sal_ss_std = sal_ss['Hourly Rate'].std()
print(sal_ss_mean, sal_ss_std)

n = 1862
df = n - 1
tcritical = stats.t.ppf(alpha, df)
t_score = (sal_ss_mean - 35)/(sal_ss_std/np.sqrt(n))

print(tcritical, t_score)
# reject H0

33.72837808807734 5.735241841459235
-1.6456728276882668 -9.567447887848152

In [44]:
t_statistic, p_value = ttest_1samp(sal_ss['Hourly Rate'], popmean = 35, alternative='less')
tcritical = stats.t.ppf(alpha, sal_ss.shape[0]-1)
print(tcritical, t_statistic)

-1.6456728276882668 -9.567447887848152

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [61]:
# Your code here:
df = sal_hourly['Hourly Rate']
ci = 0.95
conf_int = stats.t.interval(ci, df.shape[0]-1, loc=df.mean(), scale = df.std())
conf_int

(9.04476857882128, 56.5323468537392) (32.029040887731604, 33.54807454482887)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [70]:
# Your code here:
df = sal_pol['Annual Salary']
ci = 0.95
conf_int = stats.t.interval(ci, df.shape[0]-1, loc=df.mean(), scale = df.std())
conf_int

sem = stats.sem(sal_pol['Annual Salary'], ddof=df.shape[0]-1, nan_policy='omit')
conf_int2 = stats.t.interval(ci, df.shape[0]-1, loc=df.mean(), scale = sem )
conf_int2

print(conf_int, conf_int2, sem)
print(df.std())

(50670.270739577354, 122302.55826668942) (50671.60678895816, 122301.22221730862) 18271.54668517837
18272.22829399308

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: