# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [110]:
# Import your libraries:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import fetch_openml
import sklearn

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [111]:
# Your code here:
def load_original_data():
    
    diabetes = fetch_openml(name="diabetes", as_frame=True)

    # Convert to Pandas dataframe
    diabetes_df = pd.DataFrame(diabetes.data)
    diabetes_df['target'] = diabetes.target
    return diabetes_df

diabetes_df = load_original_data()
diabetes_df.head()

# , columns=diabetes.feature_names

/Users/thaopham/.pyenv/versions/3.10.4/lib/python3.10/site-packages/sklearn/datasets/_openml.py:292: UserWarning: Multiple active versions of the dataset matching the name diabetes exist. Versions may be fundamentally different, returning version 1.
  warn(

   preg   plas  pres  skin   insu  mass   pedi   age           target
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  tested_positive
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  tested_negative
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  tested_positive
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  tested_negative
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  tested_positive

In [31]:
data = sklearn.datasets.load_diabetes(return_X_y=False, as_frame=True, scaled=True)

In [113]:
type(data)

sklearn.utils._bunch.Bunch

In [112]:
data.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [115]:
print(data.feature_names)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [116]:
print(data.data_filename)

diabetes_data_raw.csv.gz

In [ ]:
print(data.data_filename)

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [34]:
# Your code here:
columns = ['age','sex','bmi','bp','tc','ldl','hdl','tch','ltg','glu', 'target']

df = pd.DataFrame(data= np.c_[data['data'], data['target']],
                     columns= data['feature_names'] + ['target'])

df.columns = columns
df.head()

,age,sex,bmi,bp,tc,ldl,hdl,tch,ltg,glu,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [41]:
type(df)

pandas.core.frame.DataFrame

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [30]:
# Your code here:

print(data.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# Enter your answer here:
# 1. There are 10 attributes which measures the 442's patients indicative values regarding diabetes
# 2. Target = their progression 1 year after baseline
# 3. Number of records = 442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [38]:
# Your code here:
len(data.data) == len(data.target)

True

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [ ]:
# Your code here:
# done as above (cell 1)

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [39]:
# Your code here:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [69]:
# Your code here:

diabetes_data_test = df.iloc[423:441,0:-1]
diabetes_target_test = df['target'].iloc[-20:-1]

diabetes_data_train = df.iloc[0:422,0:-1]
diabetes_target_train = df['target'].iloc[0:422]

# alternate solutions: use tail(:20), test_size = 20 (int, to take random 20), if test_size = float, it will take as %

In [70]:
diabetes_target_test

422    233.0
423     91.0
424    111.0
425    152.0
426    120.0
427     67.0
428    310.0
429     94.0
430    183.0
431     66.0
432    173.0
433     72.0
434     49.0
435     64.0
436     48.0
437    178.0
438    104.0
439    132.0
440    220.0
Name: target, dtype: float64

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [71]:
# Your code here:
def build_linear_regression_model(X_train, y_train):
    # Create a linear regression object
    lr = LinearRegression()
    
    # Train the model using the training data. To try as many lines as possible in between and returns the best fit (lowest error). Chatgpt has billions of beta
    lr.fit(X_train, y_train)
    
    # Return the trained model
    return lr

lr = build_linear_regression_model(diabetes_data_train, diabetes_target_train)

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [72]:
# Your code here:
y_test_predict = lr.predict(diabetes_data_test)
y_test_predict

array([155.44031962, 172.88875144, 111.53270645, 164.79397301,
       131.06765869, 259.12441219, 100.47873746, 117.06005372,
       124.30261597, 218.36868146,  61.19581944, 132.24837933,
       120.33293546,  52.54513009, 194.03746764, 102.5756431 ,
       123.56778709, 211.03465323])

#### Print your `diabetes_target_test` and compare with the prediction.

In [73]:
# Your code here:
diabetes_target_test

422    233.0
423     91.0
424    111.0
425    152.0
426    120.0
427     67.0
428    310.0
429     94.0
430    183.0
431     66.0
432    173.0
433     72.0
434     49.0
435     64.0
436     48.0
437    178.0
438    104.0
439    132.0
440    220.0
Name: target, dtype: float64

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:
# no because the model is not perfect, the model only returns the best fit with the lowest error possible, not the actual values

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [105]:
# Your code here:
import statsmodels.api as sm

def feature_selection_pvalue_train(X_train, y_train, cols):
    # Fit the OLS model
    
    X_train = sm.add_constant(X_train)
    model = sm.OLS(y_train, X_train).fit()

    ## report model summary
    print(model.summary())
    
    # Get the p-values
    pvalues = model.pvalues[1:]

    print(pvalues.index)
    # Combine the p-values with the column names
    pvalues_df = pd.DataFrame({'feature': pvalues.index, 'pvalue': pvalues})

    # Filter out the columns with p-value > 0.05
    selected_features = list(pvalues_df[pvalues_df['pvalue'] < 0.05]['feature'])

    return selected_features

significant_features = feature_selection_pvalue_train(diabetes_data_train, diabetes_target_train,diabetes_data_train.columns)
print("\n\nThe selected signficant features are: ")
print(significant_features)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.512
Model:                            OLS   Adj. R-squared:                  0.500
Method:                 Least Squares   F-statistic:                     43.16
Date:                Mon, 27 Feb 2023   Prob (F-statistic):           4.65e-58
Time:                        17:44:29   Log-Likelihood:                -2281.1
No. Observations:                 422   AIC:                             4584.
Df Residuals:                     411   BIC:                             4629.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.7643      2.658     57.468      0.000     147.539     157.990
age            0.3061     61.286      0.005      0.996    -120.167     120.779
sex         -237.6356     62.837     -3.782      0.000    -361.158    -114.113
bmi          510.5380     68.156      7.491      0.000     376.561     644.515
bp           327.7299     66.876      4.901      0.000     196.267     459.192
tc          -814.1119    424.040     -1.920      0.056   -1647.669      19.445
ldl          492.7996    344.223      1.432      0.153    -183.857    1169.457
hdl          102.8412    219.462      0.469      0.640    -328.566     534.248
tch          184.6035    167.336      1.103      0.271    -144.338     513.545
ltg          743.5094    175.357      4.240      0.000     398.801    1088.218
glu           76.0966     68.293      1.114      0.266     -58.151     210.344
==============================================================================
Omnibus:                        1.544   Durbin-Watson:                   2.026
Prob(Omnibus):                  0.462   Jarque-Bera (JB):                1.421
Skew:                           0.004   Prob(JB):                        0.491
Kurtosis:                       2.716   Cond. No.                         224.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Index(['age', 'sex', 'bmi', 'bp', 'tc', 'ldl', 'hdl', 'tch', 'ltg', 'glu'], dtype='object')


The selected signficant features are:
['sex', 'bmi', 'bp', 'ltg']

In [109]:
    # X_train = sm.add_constant(X_train)
    # model = sm.OLS(y_train, X_train).fit()

    # ## report model summary
    # print(model.summary())
    # print(model.pvalues)
    # # Get the p-values
    # pvalues = model.pvalues[1:]

    # print(pvalues.index)
    # # Combine the p-values with the column names
    # pvalues_df = pd.DataFrame({'feature': pvalues.index, 'pvalue': pvalues})

    # # Filter out the columns with p-value > 0.05
    # selected_features = list(pvalues_df[pvalues_df['pvalue'] < 0.05]['feature'])

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:
# F > 2.5 reject null
# If P < 0.05,

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [74]:
# Your code here:
auto = pd.read_csv('./DAFT_0116_forked/module_3/Lab_7_Supervised-Sklearn/data/auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [75]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [76]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [77]:
# Your code here:
auto.describe()
# newest = 82, oldest = 70

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

Check the dataset for missing values and remove all rows containing at least one missing value.

In [81]:
# Your code here:
auto.isnull().sum()
auto.dropna(inplace = True)

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [82]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [83]:
# Your code here:
auto.drop(['car_name'], axis=1, inplace=True)
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [84]:
# Your code here:
auto_model = LinearRegression()

In [85]:
def split_X_y(df, target_col):
    # Split dataframe into X and y
    X = df.drop(target_col, axis=1)
    y = df[target_col]

    return X, y

X, y = split_X_y(auto, "mpg")

In [86]:
def split_data(X, y, test_size=0.2, random_state=42):

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    
    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = split_data(X, y)

In [87]:
X_train

     cylinders  displacement  horse_power  weight  acceleration  model_year
260          6         225.0        110.0    3620          18.7          78
184          4         140.0         92.0    2572          14.9          76
174          6         171.0         97.0    2984          14.5          75
64           8         318.0        150.0    4135          13.5          72
344          4          86.0         64.0    1875          16.4          81
..         ...           ...          ...     ...           ...         ...
72           8         304.0        150.0    3892          12.5          72
107          6         232.0        100.0    2789          15.0          73
272          4         151.0         85.0    2855          17.6          78
352          4          98.0         65.0    2380          20.7          81
103          8         400.0        150.0    4997          14.0          73

[313 rows x 6 columns]

In [88]:
def build_linear_regression_model(X_train, y_train):
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    return lr

lr=build_linear_regression_model(X_train, y_train)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [89]:
# Your code here:
def predict_regression_model(model, X_train, y_train, X_test):
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    return y_train_pred, y_test_pred

y_train_pred, y_test_pred= predict_regression_model(lr, X_train, y_train, X_test)

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [91]:
# Your code here:
def report_regression_metrics(y_train, y_test, y_train_pred, y_test_pred):
    # Calculate mean absolute error (MAE) for train and test sets
    train_mae = round(mean_absolute_error(y_train, y_train_pred),2)
    test_mae = round(mean_absolute_error(y_test, y_test_pred),2)
    print('\nTrain Mean Absolute Error:', train_mae)
    print('Test Mean Absolute Error:', test_mae)
    
    # Calculate mean squared error (MSE) for train and test sets
    train_mse = round(mean_squared_error(y_train, y_train_pred),2)
    test_mse = round(mean_squared_error(y_test, y_test_pred),2)
    print('\nTrain Mean Squared Error:', train_mse)
    print('Test Mean Squared Error:', test_mse)
    
    # Calculate root mean squared error (RMSE) for train and test sets
    train_rmse = round(np.sqrt(train_mse),2)
    test_rmse = round(np.sqrt(test_mse),2)
    print('\nTrain Root Mean Squared Error:', train_rmse)
    print('Test Root Mean Squared Error:', test_rmse)
    
    # Calculate R-squared value for train and test sets
    train_r2 = round(r2_score(y_train, y_train_pred),2)
    test_r2 = round(r2_score(y_test, y_test_pred),2)
    print('\nTrain R-squared:', train_r2)
    print('Test R-squared:', test_r2)

In [92]:
report_regression_metrics(y_train, y_test, y_train_pred, y_test_pred)

Train Mean Absolute Error: 2.67
Test Mean Absolute Error: 2.5

Train Mean Squared Error: 11.94
Test Mean Squared Error: 10.5

Train Root Mean Squared Error: 3.46
Test Root Mean Squared Error: 3.24

Train R-squared: 0.81
Test R-squared: 0.79

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [93]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = split_data(X, y, test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [95]:
# Your code here:
auto_model09 = LinearRegression()
lr=build_linear_regression_model(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [ ]:
# Your code here:
y_train_pred09, y_test_pred09= predict_regression_model(lr, X_train09, y_train09, X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [96]:
# Your code here:
report_regression_metrics(y_train09, y_test09, y_train_pred09, y_test_pred09)

Train Mean Absolute Error: 2.65
Test Mean Absolute Error: 2.32

Train Mean Squared Error: 11.89
Test Mean Squared Error: 9.11

Train Root Mean Squared Error: 3.45
Test Root Mean Squared Error: 3.02

Train R-squared: 0.8
Test R-squared: 0.85

In [ ]:
# Yes, larget training set gives a better predictions

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [97]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [99]:
# Your code here:
model=LinearRegression()
rfe = RFE(model, n_features_to_select=3)

Fit the model and print the ranking

In [100]:
# Your code here:
rfe.fit(X_train09, y_train09)

# Print the selected features and their ranking
print("Selected Features:")
for i in range(len(rfe.support_)):
    if rfe.support_[i]:
        print(X.columns[i])
        
print("Feature Ranking:")
print(rfe.ranking_)

Selected Features:
cylinders
acceleration
model_year
Feature Ranking:
[1 3 4 2 1 1]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [103]:
# Your code here:
auto_reduced = auto[['cylinders','acceleration','model_year','mpg']]
auto_reduced.head()

   cylinders  acceleration  model_year   mpg
0          8          12.0          70  18.0
1          8          11.5          70  15.0
2          8          11.0          70  18.0
3          8          12.0          70  16.0
4          8          10.5          70  17.0

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [104]:
# Your code here: 
X, y = split_X_y(auto_reduced, "mpg")
X_train, X_test, y_train, y_test = split_data(X, y, test_size=0.1)
lr=build_linear_regression_model(X_train, y_train)
y_train_pred, y_test_pred= predict_regression_model(lr, X_train, y_train, X_test)
report_regression_metrics(y_train, y_test, y_train_pred, y_test_pred)

Train Mean Absolute Error: 3.23
Test Mean Absolute Error: 2.76

Train Mean Squared Error: 17.63
Test Mean Squared Error: 14.45

Train Root Mean Squared Error: 4.2
Test Root Mean Squared Error: 3.8

Train R-squared: 0.71
Test R-squared: 0.76

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.